html body article h1 h2 ol ul li img section a span title nav p  {
  margin: 0;
  padding: 0;
  border: 0;
}
input[type="radio"]{
cursor: pointer;
outline: none;
background-image: url(../assets/stars.png);
};

input[type="submit"]{
  cursor: pointer;
  outline: none;
background-color: gold;

}
input:last-child:hover{
  -webkit-filter: brightness(80%);
}


nav {
  float:right;

}
nav:after{
  content:"";
  display: block;
  clear: both;
}
nav ul li a{
    padding: 20px;
    display: inline-block;
}
img{
  width:100%;
}
.container{
  display:flex;
  flex-direction:column;
}

header img {
    display: inline-block;
}

body {
  width:900px;
  margin:0 auto;
}
section{
  width:700px;
  display: inline-block;
  vertical-align: top;
}
aside{
  width:180px;
  display: block;
  margin-right:15px;
  vertical-align: top;
}
aside ul li:nth-of-type(2n){
  background-color: whitesmoke;
  margin: 15px 0px;
}

ol li {
  margin: 15px 0px;
}

h2+.user_review{
  border-top:1px solid black;
}



input[type="select"]{
  margin: 10px;

}

input[type="text"]{
  width:200px;
}
textarea {
  width: 500px;
}
