html body article h1 h2 ol ul li img section a span title nav p  {
  margin: 0;
  padding: 0;
  border: 0;
}
input[type="radio"]{
cursor: pointer;
outline: none;
background-image: url(../assets/stars.png);
};

input[type="submit"]{
  cursor: pointer;
  outline: none;
background-color: gold;

}
input:last-child:hover{
  -webkit-filter: brightness(80%);
}


nav {
  display:inline-block;
}
nav ul li {
    padding: 20px;
    display: inline-block;
}

header img {
    display: inline-block;
}

body {
  width:900px;
  margin:0 auto;
}
section{
  width:700px;
  display: inline-block;
}
aside{
  width:180px;
  display: inline-block;;
}
ul li:nth-of-type(2n){
  background-color: whitesmoke;
}

h2+.user_review{
  border-top:1px solid black;
}
