html, div, p, h1, h2, h3, span, button, body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: inherit;

}
html{
    background-color: black;
}
h1{
  font-size: 50px;
  margin: 10px;
  font-weight: normal;
}
h2{
  font-size: 40px;
  margin: 10px;
  font-weight: normal;
}



div.container{
  height: 105vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content; center;
  position: relative;

}

div.first{
  background-color: black;
}

div.second{
  background-color: #00A0B0;
}

div.third{
  background-color: #CC333F;
}

div.fourth{
  background-color: #EB6841;
}

div.fifth{
  background-color: #EDC951;
}
div.text-box{
  width: 50%;
  margin: auto;

}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}

div.links {
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  height: 100px;
}

div.thumbnail{
  width: 150px;
  height: 100%;
  overflow: hidden;
}
.thumbnail img{
  height: 100px;
  width: auto;
}
div.link-text {
  width: 70%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: gray;
}
.link-text a{
  margin: 0px 0px 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.link-text p{
  font-size: 15px;
  color: black;
}

.fifth a{
  color: white;
}

div.last {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.last *{
  margin: 20px;
}
.last p {
  margin-top: 30px;
}

.clickable {
  cursor:pointer;
}

svg{
  position: absolute;
  top: 200px;
  left: 700px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
path#hi{
  top: 0px;
  position: absolute;
  z-index: 100;
}

path#path-2{
  position: absolute;
  top: 800px;
}
div.main{
  position: absolute;
  top: 0;
  left: 0;

}

div.frame{
  width: 100%;
  height: 6000px;
  overflow-y: scroll;
    position: relative;

}
